{{#each hits}}

  <div class='photo-card'>
    <a href='{{largeImageURL}}'>
      <img
        src='{{webformatURL}}'
        alt='{{tags}}'
        title='{{tags}}'
        loading='lazy'
        width='200'
        height='150'
      />
    </a>
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b>
        <span>{{likes}}</span>
      </p>
      <p class='info-item'>
        <b>Views</b>
        <span>{{views}}</b>
      </p>
      <p class='info-item'>
        <b>Comments</b>
        <span>{{comments}}</span>
      </p>
      <p class='info-item'>
        <b>Downloads</b>
        <span>{{downloads}}</span>
      </p>
    </div>
  </div>

{{/each}}